<!DOCTYPE html>
<html lang = "en" dir = "ltr">
  <head>
    <meta charset = "utf-8">
    <title>D3.js key concepts</title>
    <style type = "text/css">
      body {
        background-color: #ccc;
        width: 100%;
      }
      #chart {
        background-color: #ccc;
        width: auto;
        height: 500px;
        margin: 50px 50px;
        border: solid 1px black;
      }
    </style>
    <script type="text/javascript" src = "../d3/d3.min.js">
    </script>
  </head>
  <body>
    <div id = "chart"></div>
  </body>
</html>
